$schema: "./cache/schemas/tasks.json"

tasks:
  build:
    command: "vite build"
    inputs:
      - "@group(vite)"
      - "@group(sources)"
    outputs:
      - "dist"
    deps:
      - "lint"
      - "types"
      - "^:build"

  dev:
    command: "vite dev"
    local: true
    deps:
      - "^:build"
      - "^:watch"
