$schema: "./cache/schemas/tasks.json"

tasks:
  build:
    command: "tsdown"
    inputs:
      - "@group(tsdown)"
      - "@group(sources)"
    outputs:
      - "dist"
    deps:
      - "lint"
      - "types"

  watch:
    command: "tsdown --watch  --no-clean"
    local: true
