$schema: ./cache/schemas/tasks.json

tasks:
  build:
    command: vite build
    inputs:
      - "@group(vite)"
      - "@group(sources)"
    outputs:
      - dist
    deps:
      - lint
      - types
      - ^:build
  
  dev:
    command: vite dev
    deps:
      - ^:build
      - ^:watch
    preset: server
    options:
      runInCI: false

  test:
    command:
      - vitest
      - run
      - --config
      - "@in(0)"
    inputs:
      - vitest.browser.config.ts
      - "@group(sources)"
      - "@group(e2e)"
    outputs: null
    deps:
      - lint
      - types
      - ^:build

  test.watch:
    extends: test
    args:
      - --watch
    preset: server
    options:
      runInCI: false

inheritedBy:
  tag: vite
